* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.component__wrapper {
  width: 580px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.card {
  margin-right: 20px;
}

.card:last-child {
  margin-right: 0;
}

.logo {
  background-color: #868e96;
}
